.generatingMainContainer {
  width: 100%;

  box-sizing: border-box;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  background-color: #bcc4fb;

  width: 60%;
  min-height: 200px;

  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 35px;
}

.mainContent h2 {
  justify-self: center;
}

.mainContent button {
  all: unset;
}

.buttonContainer {
  width: 80%;

  display: flex;
  justify-self: center;
  justify-content: space-between;

  margin-top: 20px;
}

button.button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #acb3e0;
  height: 30px;
  border-radius: 10px;
  min-width: 30%;
  text-align: center;
  font-weight: 500;
}
button.button:hover {
  cursor: pointer;
  background-color: #7e82a4;
}

button.buttonDOCX {

}

.previewContainer {
  height: 600px;
  max-width: 100%;
  padding-bottom: 80px;
  margin-top: 40px;
}

.previewContainer canvas {
  margin-left: auto;
  margin-right: auto;
}

.switchButtonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switchButtonContainer button.switchButton {
  padding: 20px;
  width: 200px;
  background-color: #7e82a4;
  background-color: #acb3e0;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  transition: background-color 0.5s;
}
.switchButtonContainer button.switchButton:first-of-type {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.switchButtonContainer button.switchButton:last-of-type {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.switchButtonContainer button.active {
  background-color: #7e82a4;
}